* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #E5EAD6, #D1D7B1);
  color: #333;
  padding-bottom: 60px;
}

/* Home Page */
.Home {
  text-align: center;
}

.Home-header {
  background-color: #4E7151;
  padding: 40px;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  border-bottom: 3px solid #E5EAD6;
}

/* Footer */
footer {
  background-color: #4E7151;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 1.1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: #B6C397;
  padding: 15px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  position: sticky;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-links li {
  margin: 0 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 12px 20px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #4E7151;
  color: white;
}
